
/* Example styles for your main application */
body {
  margin: 0;
  padding: 0;
  background-color: #121212; 
  color: white; /* Text color */
}

/* Ensure the main app container has the same background */
#root {
  min-height: 100vh; /* Ensure it covers the entire viewport */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* CSS for fade transitions */
.fade-enter {
  opacity: 0;
  background-color: transparent; /* Ensure transparent background on enter */
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}


/* Customize scrollbar using Tailwind */
.scrollbar-blue {
  scrollbar-color: blue lightgray;
  /* Thumb and track colors */
  scrollbar-width: thin;
}

.scrollbar-blue::-webkit-scrollbar {
  width: 12px;
  /* Adjust the width of the scrollbar */
}

.scrollbar-blue::-webkit-scrollbar-track {
  background: #E5E7EB;
  /* Track color */
}

.scrollbar-blue::-webkit-scrollbar-thumb {
  background-color: #1E3A8A;
  /* Scrollbar thumb color */
  border-radius: 6px;
  border: 3px solid #E5E7EB;
  /* Space around the thumb */
}


.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Ensure the background is behind other elements */
  background: linear-gradient(270deg, #1e3c72, #2a69ac, #1e3c72);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.group-hover\:animate-ripple {
  animation: ripple 0.6s linear;
}
.gradient-bg {
  background: linear-gradient(135deg, #9b59b6, #3498db, #ffffff, #ff69b4);
  background-size: 400% 400%; /* Adjust this to make the gradient flowing */
  animation: gradientFlow 15s ease infinite; /* Animation for flowing effect */
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bounceCompress {
    0%, 100% {
        transform: translateY(0) scaleY(1);
    }
    50% {
        transform: translateY(-20px) scaleY(0.8); /* Move up and compress */
    }
    70% {
        transform: translateY(0) scaleY(1.1); /* Decompress slightly */
    }
    90% {
        transform: translateY(-10px) scaleY(0.95); /* Small bounce */
    }
}

@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-20px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.custom-bounce {
  animation: custom-bounce 1.2s infinite;
}

/* app.css */

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(10px); /* Apply blur effect */
}


.lds-ring {
  color: #4b55d5; /* Adjust loader color here */
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Hide scrollbar in all browsers */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* for Internet Explorer 10+ */
  scrollbar-width: none;  /* for Firefox */
}


.gradient-background {
  background: linear-gradient(300deg,#0c0c16,#400e5a,#0d0c3b);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}